html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: "Roboto", sans-serif; }

html, html a {
  -webkit-font-smoothing: antialiased; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  letter-spacing: -0.02em; }

h1 {
  font-size: 56px;
  font-weight: 500; }

h2 {
  font-size: 44px;
  margin-top: 18px;
  margin-bottom: 18px;
  font-weight: 300; }

h3 {
  font-size: 24px;
  margin-top: 18px;
  margin-bottom: 18px; }

hr {
  margin-top: 21px;
  margin-bottom: 21px;
  border: 0;
  border-top: 1px solid #eaebec; }

.content {
  box-sizing: border-box;
  padding: 0 15px;
  width: 970px;
  margin: 0 auto; }

.lead {
  font-size: 18px;
  font-weight: 400;
  color: #4c5058;
  line-height: 1.53846;
  margin-bottom: 21px; }

.top-navigation {
  background-color: #fff;
  width: 100%;
  position: fixed;
  z-index: 1;
  border-bottom: 1px solid #eaebec; }
  .top-navigation .content {
    height: 70px; }
    .top-navigation .content .logo {
      padding-top: 15px; }
    .top-navigation .content .links {
      float: right;
      font-size: 16px;
      color: #838994;
      letter-spacing: 0.03em;
      margin-top: 25px; }
      .top-navigation .content .links > .active {
        color: #4c5058;
        font-weight: 600; }
      .top-navigation .content .links li {
        display: inline-block;
        margin-left: 25px; }
      .top-navigation .content .links li:hover {
        cursor: pointer;
        color: #333333; }

.introduction {
  background: url(../img/first-background.jpg) no-repeat center center;
  background-position: 0 bottom;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 674px; }
  .introduction .content {
    padding: 15px;
    position: relative;
    top: 30%; }
    .introduction .content h1, .introduction .content h3 {
      color: #fff;
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
      text-align: center;
      letter-spacing: 0.06em;
      margin-top: 18px;
      margin-bottom: 18px; }
    .introduction .content .buttons {
      text-align: center;
      vertical-align: middle;
      margin-bottom: 0;
      background-image: none;
      margin-top: 40px; }
      .introduction .content .buttons > .half {
        display: inline-block;
        font-size: 18px;
        color: #fff;
        text-shadow: none;
        border-style: none;
        border-radius: 4px;
        padding: 16px 26px;
        line-height: 1.33;
        cursor: pointer; }
        .introduction .content .buttons > .half a {
          text-decoration: none;
          color: #fff; }
      .introduction .content .buttons > .learn {
        background-color: #f15a29;
        border-color: #f15a29;
        text-shadow: none; }
      .introduction .content .buttons > .watch img {
        vertical-align: middle;
        margin: -1px 8px 0 0;
        max-height: 35px;
        max-width: 35px; }

.cases {
  background-color: #fff;
  text-align: center; }
  .cases .content {
    padding: 128px 0; }
  .cases .devices {
    width: 33.33333%;
    min-height: 324px;
    display: inline-block;
    box-sizing: border-box;
    margin-right: -4px;
    padding-left: 15px;
    padding-right: 15px; }
    .cases .devices img {
      margin: 40px 0 20px 0;
      max-height: 127px;
      max-width: 127px; }
    .cases .devices h3 {
      font-weight: 400;
      line-height: 1.25;
      color: #1d1e21; }
    .cases .devices .lead {
      font-size: 18px;
      font-weight: 400;
      color: #4c5058;
      line-height: 1.53846;
      margin: 0 0 11px;
      margin-bottom: 21px; }

footer .content {
  padding: 84px 0; }
footer .bottom-navigation {
  overflow: hidden;
  height: 144px; }
  footer .bottom-navigation .bot-nav-menus .header {
    color: #4c5058;
    font-weight: 500;
    margin-bottom: 6px; }
  footer .bottom-navigation .bot-nav-menus li {
    padding: 3px 0; }
  footer .bottom-navigation .bot-nav-menus a {
    text-decoration: none;
    color: #838994; }
    footer .bottom-navigation .bot-nav-menus a:hover {
      color: #c1390d; }
  footer .bottom-navigation .better-business-bureau {
    min-width: 25%;
    float: left; }
  footer .bottom-navigation .company {
    width: 13.88889%;
    float: left; }
  footer .bottom-navigation .shop {
    width: 13.88889%;
    float: left; }
  footer .bottom-navigation .support {
    width: 13.88889%;
    float: left; }
  footer .bottom-navigation .latest-news {
    width: 32.33%;
    float: left; }
    footer .bottom-navigation .latest-news .input-group {
      position: relative;
      border-collapse: separate; }
      footer .bottom-navigation .latest-news .input-group .form-control {
        display: inline-block;
        width: 80%;
        float: left;
        z-index: 2;
        margin-bottom: 0;
        font-size: 18px;
        padding-top: 23px;
        padding-bottom: 6px;
        padding-left: 10px;
        border-color: #caccd1;
        letter-spacing: -0.02em; }
      footer .bottom-navigation .latest-news .input-group label.in {
        position: absolute;
        z-index: 1000;
        left: 13px;
        top: 7px;
        font-size: 12px;
        font-weight: 500;
        padding-right: 12px;
        margin-bottom: 5px;
        color: #838994; }
        footer .bottom-navigation .latest-news .input-group label.in::after {
          color: #f15a29;
          display: block;
          position: absolute;
          right: 0;
          top: 0;
          content: "*";
          line-height: 1.25; }
      footer .bottom-navigation .latest-news .input-group .input-group-addon {
        display: inline-block;
        width: 100%;
        float: left;
        background-color: #fff;
        text-align: center; }
        footer .bottom-navigation .latest-news .input-group .input-group-addon button {
          text-align: center;
          vertical-align: middle;
          white-space: nowrap;
          border-radius: 4px;
          font-size: 14px;
          padding: 0; }
          footer .bottom-navigation .latest-news .input-group .input-group-addon button i {
            padding: 17px 20px 16px;
            color: #f15a29;
            background-color: white; }
footer .social {
  text-align: center;
  margin-bottom: 15px; }
  footer .social .join-us {
    color: #4c5058;
    font-weight: 500;
    padding-bottom: 6px; }
  footer .social .icons {
    margin-top: 15px;
    margin-bottom: 20px; }
    footer .social .icons li {
      margin-left: 5px;
      margin-right: 5px;
      display: inline-block;
      width: 42px;
      height: 42px;
      line-height: 42px;
      text-align: center;
      border-radius: 21px;
      cursor: pointer; }
      footer .social .icons li a {
        color: #838994; }
        footer .social .icons li a.twitter {
          color: #55acee; }
        footer .social .icons li a.facebook {
          color: #4c66a4; }
        footer .social .icons li a.instagram {
          color: #3f729b; }
  footer .social .copyright {
    color: #838994;
    font-weight: 300;
    margin-bottom: 5px; }

.what-is-karma {
  background: #caccd1 url(../img/what-is-karma-bg.jpg) bottom center no-repeat;
  background-size: cover;
  text-shadow: 16 1px 0 rgba(255, 255, 255, 0.8); }
  .what-is-karma .content {
    padding: 126px 0; }
  .what-is-karma .left-text {
    width: 33.33333%;
    padding-left: 15px;
    padding-right: 15px; }
    .what-is-karma .left-text h3 {
      color: #f15a29;
      font-size: 26px;
      font-weight: 400;
      line-height: 1.53846;
      letter-spacing: -0.02em; }
    .what-is-karma .left-text .buy-now-button {
      color: white;
      background-color: #f15a29;
      border-color: #f15a29;
      text-shadow: none;
      padding: 16px 26px;
      font-size: 18px;
      line-height: 1.33;
      border-radius: 4px;
      display: inline-block;
      margin-bottom: 0;
      font-weight: normal;
      text-align: center;
      vertical-align: middle;
      cursor: pointer;
      background-image: none;
      border: 1px solid transparent;
      white-space: nowrap;
      text-decoration: none; }

/*# sourceMappingURL=styles.css.map */
