@import 'partials/resets'

body
  font-family: 'Roboto', sans-serif

html, html a
  -webkit-font-smoothing: antialiased

h1, h2, h3, h4, h5, h6
  font-weight: 300
  letter-spacing: -0.02em

h1
  font-size: 56px
  font-weight: 500

h2
  font-size: 44px
  margin-top: 18px
  margin-bottom: 18px
  font-weight: 300
  // letter-spacing: 0.06em

h3
  font-size: 24px
  margin-top: 18px
  margin-bottom: 18px

hr
  margin-top: 21px
  margin-bottom: 21px
  border: 0
  border-top: 1px solid #eaebec

.content
  box-sizing: border-box
  padding: 0 15px
  width: 970px
  margin: 0 auto

.lead
  font-size: 18px
  font-weight: 400
  color: #4c5058
  line-height: 1.538461538
  margin-bottom: 21px



.top-navigation
  background-color: #fff
  width: 100%
  position: fixed
  z-index: 1
  border-bottom: 1px solid #eaebec
  .content
    height: 70px

    .logo
      padding-top: 15px
    .links
      float: right
      font-size: 16px
      color: #838994
      letter-spacing: 0.03em
      margin-top: 25px
      &>.active
        color: #4c5058
        font-weight: 600
      li
        display: inline-block
        margin-left: 25px
      li:hover
        cursor: pointer
        color: #333333



.introduction
  background: url(../img/first-background.jpg) no-repeat center center
  background-position: 0 bottom
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover
  height: 674px
  .content
    padding: 15px
    position: relative
    top: 30%

    h1, h3
      color: #fff
      text-shadow: 0 1px 2px rgba(0,0,0,0.1)
      text-align: center
      letter-spacing: 0.06em
      margin-top: 18px
      margin-bottom: 18px
    .buttons
      text-align: center
      vertical-align: middle
      margin-bottom: 0
      background-image: none
      margin-top: 40px
      &>.half
        display: inline-block
        font-size: 18px
        color: #fff
        text-shadow: none
        border-style: none
        border-radius: 4px
        padding: 16px 26px
        line-height: 1.33
        cursor: pointer
        a
          text-decoration: none
          color: #fff
      &>.learn
        background-color: #f15a29
        border-color: #f15a29
        text-shadow: none
      &>.watch
        img
          vertical-align: middle
          margin: -1px 8px 0 0
          max-height: 35px
          max-width: 35px



.cases
  background-color: #fff
  text-align: center
  .content
    padding: 128px 0

  .devices
    width: 33.3333333%
    min-height: 324px
    display: inline-block
    box-sizing: border-box
    margin-right: -4px
    padding-left: 15px
    padding-right: 15px
    img
      margin: 40px 0 20px 0
      max-height: 127px
      max-width: 127px
    h3
      font-weight: 400
      line-height: 1.25
      color: #1d1e21
    .lead
      font-size: 18px
      font-weight: 400
      color: #4c5058
      line-height: 1.538461538
      margin: 0 0 11px
      margin-bottom: 21px



footer
  .content
    padding: 84px 0

  .bottom-navigation
    overflow: hidden
    height: 144px
    .bot-nav-menus
      .header
        color: #4c5058
        font-weight: 500
        margin-bottom: 6px
      li
        padding: 3px 0
      a
        text-decoration: none
        color: #838994
        &:hover
          color: #c1390d
    .better-business-bureau
      min-width: 25%
      float: left
    .company
      width: 13.888888889%
      float: left
    .shop
      width: 13.888888889%
      float: left
    .support
      width: 13.888888889%
      float: left
    .latest-news
      width: 32.33%
      float: left
      .input-group
        position: relative
        border-collapse: separate
        .form-control
          display: inline-block
          width: 80%
          float: left
          z-index: 2
          margin-bottom: 0
          font-size: 18px
          padding-top: 23px
          padding-bottom: 6px
          padding-left: 10px
          border-color: #caccd1
          letter-spacing: -0.02em
        label.in
          position: absolute
          z-index: 1000
          left: 13px
          top: 7px
          font-size: 12px
          font-weight: 500
          padding-right: 12px
          margin-bottom: 5px
          color: #838994
          &::after
            color: #f15a29
            display: block
            position: absolute
            right: 0
            top: 0
            content: "*"
            line-height: 1.25
        .input-group-addon
          display: inline-block
          width: 100%
          float: left
          background-color: #fff
          text-align: center
          button
            text-align: center
            vertical-align: middle
            white-space: nowrap
            border-radius: 4px
            font-size: 14px
            padding: 0
            i
              padding: 17px 20px 16px
              color: #f15a29
              background-color: white

  .social
    text-align: center
    margin-bottom: 15px
    .join-us
      color: #4c5058
      font-weight: 500
      padding-bottom: 6px
    .icons
      margin-top: 15px
      margin-bottom: 20px
      li
        margin-left: 5px
        margin-right: 5px
        display: inline-block
        width: 42px
        height: 42px
        line-height: 42px
        text-align: center
        border-radius: 21px
        cursor: pointer
        a
          color: #838994
          &.twitter
            color: #55acee
          &.facebook
            color: #4c66a4
          &.instagram
            color: #3f729b
    .copyright
      color: #838994
      font-weight: 300
      margin-bottom: 5px



.what-is-karma
  background: #caccd1 url(../img/what-is-karma-bg.jpg) bottom center no-repeat
  background-size: cover
  text-shadow: 16 1px 0 rgba(255,255,255,0.8)
  .content
    padding: 126px 0
  .left-text
    width: 33.3333333333%
    padding-left: 15px
    padding-right: 15px
    h3
      color: #f15a29
      font-size: 26px
      font-weight: 400
      line-height: 1.538461538
      letter-spacing: -0.02em
    .buy-now-button
      color: white
      background-color: #f15a29
      border-color: #f15a29
      text-shadow: none
      padding: 16px 26px
      font-size: 18px
      line-height: 1.33
      border-radius: 4px
      display: inline-block
      margin-bottom: 0
      font-weight: normal
      text-align: center
      vertical-align: middle
      cursor: pointer
      background-image: none
      border: 1px solid transparent
      white-space: nowrap
      text-decoration: none
