@import 'partials/resets'

body
  font-family: 'Roboto', sans-serif

h1, h2, h3, h4, h5, h6
  font-weight: 100

h1
  font-size: 50px

h3
  font-size: 24px

.content
  box-sizing: border-box
  padding: 0 15px
  width: 970px
  margin: 0 auto


.top-navigation
  background-color: #fff
  .content
    height: 70px
    .logo
      padding-top: 15px
    .links
      float: right
      font-size: 16px
      color: #838994
      letter-spacing: 0.03em
      margin-top: 25px
      -webkit-font-smoothing: antialiased
      &>.active
        color: #4c5058
        font-weight: 600
      li
        display: inline-block
        margin-left: 25px
      li:hover
        cursor: pointer
        color: #333333



.introduction
  background: url(../img/first-background.jpg) no-repeat center center
  background-position: 0 bottom
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover
  height: 674px
  .content
    padding: 15px
    position: relative
    top: 30%
    h1, h3
      color: #fff
      text-shadow: 0 1px 2px rgba(0,0,0,0.1)
      text-align: center
      letter-spacing: 0.09em
      margin-top: 18px
      margin-bottom: 18px
    .buttons
      text-align: center
      vertical-align: middle
      margin-bottom: 0
      background-image: none
      margin-top: 40px
      &>.half
        display: inline-block
        font-size: 18px
        color: #fff
        text-shadow: none
        border-style: none
        border-radius: 4px
        padding: 16px 26px
        line-height: 1.33
        a
          text-decoration: none
          color: #fff
      &>.learn
        background-color: #f15a29
        border-color: #f15a29
        text-shadow: none
      &>.watch
        img
          vertical-align: middle
          margin: -1px 8px 0 0
          max-height: 35px
          max-width: 35px

